.planetimage {
  width: 80px;
}

.planetname {
    font-size: 20px;
    font-weight: bold;
}

.moonimage {
    width: 50px;
}

.moonname {
    font-size: 18px;
    font-weight: bold;
}

.emph {
    color: #FFFF00;
    font-weight: bold;
}

.decent, .decent:link, .decent:visited, .decent:hover, .decent:active {
    color: #A2A2A2;
}

.navbar-right {
    text-align: right;
}

.fa-rocket, .fa-flag {
    color: #A0A000;
}

.activestart, .activestart:link, .activestart:visited, .activestart:hover, .activestart:active,
.activeobjective, .activeobjective:link, .activeobjective:visited, .activeobjective:hover, .activeobjective:active {
    color: #A0A00;   
}

.navicon {
    font-size: 40px;
}

.navbar-inverse {
    box-shadow: 0px 2px 5px #555;
    opacity: 0.95;
}

body { 
    padding-top: 100px; 
}
